.team-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px;
  width: 326px;

  border-radius: 8px;
  border: 1px solid $gray-30;
  background-color: $white;

  user-select: none;
}

.team-card__avatar {
  width: 100%;
  height: 268px;

  border-radius: 8px;
  overflow: hidden;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-card__name__wrapper {
  padding: 0 2px;
  width: fit-content;

  background-image: linear-gradient(90deg, $accent-100, $accent-100);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 0% 100%;

  transition: $transition;
}

.team-card:hover .team-card__name__wrapper {
  background-size: 100% 100%;
  transition: $transition;
}

.team-card__position {
  color: $secondary-text;
}

.team-card__profile-link {
  padding: 0;
  width: 96px;
  height: 40px;

  color: $secondary-text;
}
