.heroFlow {
  --step: 80px;
  overflow: hidden;
  background:
    repeating-linear-gradient(
      to right,
      transparent 0,
      transparent calc(var(--step) - 1px),
      $gray-30 (var(--step) - 1px),
      $gray-30 var(--step)
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent calc(var(--step) - 1px),
      $gray-30 (var(--step) - 1px),
      $gray-30 var(--step)
    );
}

.heroFlow__gridArea {
  display: none;
  position: relative;

  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 1024px;

  @include largeTablet {
    display: block;
  }

  @include desktop {
    padding-left: 90px;
    padding-right: 90px;
    width: 1440px;
  }
}

.heroFlow__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heroFlow__title {
  margin-bottom: 24px;
}

.heroFlow__subtitle {
  margin-bottom: 32px;
}

.heroFlow__stage {
  position: relative;
  width: 100%;
}

.heroFlow__svgPerims {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.heroFlow__cardsLayer {
  position: absolute;
  inset: 0;
  z-index: 2;
}
.heroFlow__svgConns {
  position: absolute;
  inset: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.heroFlow__outer {
  position: absolute;
}

.heroFlow__inner {
  position: absolute;
  left: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background: $white;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);

  font-size: 12px;
  color: $primary-text;
  line-height: 1.45;
  white-space: nowrap;

  @include desktop {
    font-size: 14px;
  }
}

.heroFlow__inner__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  border-radius: 4px;
  background-color: $secondary-100;

  & svg {
    width: 24px;
    height: 24px;
  }
}

.heroFlow__center {
  position: absolute;
  padding: 5px;
  width: 360px;
  height: 256px;

  border-radius: 6px;
  background: linear-gradient(73deg, #e3fdee 0%, #f3f1fa 48.08%, #eff5e8 96.64%);
  box-shadow:
    0 3.88px 4.376px 0 rgba(0, 0, 0, 0.04),
    0 3.297px 5.275px 0 rgba(22, 25, 29, 0.04),
    0 6.593px 11.868px 0 rgba(22, 25, 29, 0.03),
    0 10.549px 31.648px 0 rgba(22, 25, 29, 0.03),
    0 0.659px 0.33px 0 rgba(255, 255, 255, 0.6) inset;

  @include desktop {
    padding: 8px;
    width: 546px;
    height: 389px;
    border-radius: 8px;
    box-shadow:
      0 5.885px 6.636px 0 rgba(0, 0, 0, 0.04),
      0 5px 8px 0 rgba(22, 25, 29, 0.04),
      0 10px 18px 0 rgba(22, 25, 29, 0.03),
      0 16px 48px 0 rgba(22, 25, 29, 0.03),
      0 1px 0.5px 0 rgba(255, 255, 255, 0.6) inset;
  }
}

.heroFlow__center__image {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;

  background-image: url('/icons/home-hero-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 6px;
  border: 1px solid $gray-30;

  overflow: hidden;

  @include desktop {
    border-radius: 8px;
  }
}

.heroFlow__svgConns [data-conn] {
  transition: none !important;
  will-change: stroke-dashoffset, opacity;
}

// @media (prefers-reduced-motion: reduce) {
//   .heroFlow__svgPerims *,
//   .heroFlow__svgConns * {
//     animation: none !important;
//   }
// }
