.snake-card {
  --bw: 0.5px;
  --speed: 16s;
  --seg: 40; /* visible segment in % of perimeter (0..100) */

  position: relative;
  display: inline-block;
  border-radius: 0;
  width: 100%;
  height: 100%;
  color: $primary-100;
}

.snake-card__content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: $white;
  border-radius: 0;
}

.snake-card__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  pointer-events: none;
}

.snake-base {
  fill: none;
  stroke-width: var(--bw);
  vector-effect: non-scaling-stroke;
  shape-rendering: crispEdges;
}

.snake-run {
  fill: none;
  stroke: url(#snakeGrad);
  stroke-width: var(--bw);
  stroke-linecap: round;
  // vector-effect: non-scaling-stroke;
  shape-rendering: crispEdges;

  stroke-dasharray: var(--segPx) calc(var(--Lpx) - var(--segPx));
  animation: snake-dash var(--speed) linear infinite;
}

@keyframes snake-dash {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: calc(-1 * var(--Lpx));
  }
}
