.scis__header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 24px;
  padding: 0 8px;

  @include tablet {
    margin-bottom: 32px;
  }

  @include largeTablet {
    padding: 0 24px;
  }

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 48px;

    & h3,
    & p {
      width: 47%;
    }
  }
}

.scis__card-list {
  display: grid;
  grid-template-columns: 1fr;

  border-top: 1px solid $gray-30;
  border-bottom: 1px solid $gray-30;

  & li:not(:last-child) {
    border-bottom: 1px solid $gray-30;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;

    & li:nth-child(2n-1) {
      border-right: 1px solid $gray-30;
    }

    & li:nth-child(3) {
      border-bottom: none;
    }
  }

  @include largeTablet {
    grid-template-columns: repeat(4, 1fr);

    & li:nth-child(n) {
      border-bottom: none;
    }

    & li:not(:last-child) {
      border-right: 1px solid $gray-30;
    }
  }
}

.scis__card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 32px;
  height: 268px;

  background-color: $white;
}
