.cup__form-section__inner-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 8px;

  @include tablet {
    flex-direction: row;
    gap: 24px;
    padding: 24px;
  }

  @include largeTablet {
    padding: 56px 24px;
  }
}

.cup__form-section__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    width: 48%;
  }

  @include desktop {
    gap: 24px;
  }
}

.cup__form-section__subtitle {
  color: $primary-text;
}

.cup__form-section__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cup__form-section__contacts-item {
  color: $main-text;
  font-style: normal;
}
